<div class="col-md-6">
	<div class="card">
		<div class="card-header">
			<i class="fa fa-table"></i> Create Data Employee</div>
		<div class="card-body">
			<form action="">
				<div class="form-group">
					<label for="">Nama Pegawai</label>
					<input type="text" nama="nama" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Divisi</label>
					<input type="text" nama="divisi" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Nomor Handphone</label>
					<input type="text" nama="no_handphone" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Alamat</label>
					<textarea name="alamat" id="" cols="30" rows="10" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<label for="">Status</label>
					<select name="status" class="form-control">
						<option value="0">Non Aktif</option>
						<option value="1">Aktif</option>
					</select>
				</div>
				<div class="form-group">
					<button class="btn btn-success" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>